<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ABTIKDocumentsUI.Properties.Settings.ABTIKDocumentsConnectionString"
            connectionString="Data Source=ABTIK\SQLEXPRESS;Initial Catalog=ABTIKDocuments;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ABTIKDocumentsUI.Properties.Settings.ABTIKDocumentsConnectionString1"
            connectionString="Data Source=XCHANMOLX-PC\SQLEXPRESS;Initial Catalog=ABTIKDocuments;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>